
.body {
	font-family: helvetica;
	font-weight: bold;
	font-size:20px;
	color: grey;
	text-align: center;
}
.fst {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 1200px


  
}
.start{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

}

p {
	font-family: helvetica;
	font-weight: bold;
	font-size:20px;
	height:10px;
	width:1200px;

	color: grey;
	display: flex;
    justify-content: center;
    align-items: center;
}

.social {
	background:grey;
	height:10px;
	width:1200px;
	padding:30px;
	opacity: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
    
   
}
h3 {
	background:grey;
	height:10px;
	width:1200px;
	padding:30px;
	font-family: helvetica;
	font-size:14px;
	color: rgb(31,33,32);
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

.cop { 
	background:grey;
	height:10px;
	width:1200px;
	padding:30px;
	opacity: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
   
 }

form {
	background:lightBlue;
	height:50px;
	width:1200px;
	padding:30px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.juegosrc {
  background: white;
	height:50px;
	width:1200px;
	padding:30px;
	
	display: flex;
    justify-content: center;
    align-items: center;
}
  

.puntos {
	background: white;
	height:30px;
	width:1200px;
	padding:30px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.adios { 
	background: white;
	height:50px;
	width:1200px;
	padding:1px;

	display: flex;
    justify-content: center;
    align-items: center;

    font-family: helvetica;
	font-weight: bold;
	font-size:20px;
	color: grey;
	text-align: center;
}
 .juegodrp {
 	background: white;
 	height:120px;
	width:1200px;
	padding:30px;

	display: flex;
    justify-content: center;
    align-items: center;

    font-family: helvetica;
	font-weight: bold;
	font-size:20px;
	color: grey;
	text-align: center;
    }

.div {
	background: white;
  float: right;
  width: 70px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;

  }

.palabras {

	background: white;
	height:50px;
	width:1200px;
	padding:30px;
	display: flex;
    justify-content: center;
    align-items: center;
}